/* cache la div de base */

div.divSetting{
    display: none;
    /* padding-top: 100px; */
    padding-left: 200px;
    display: none;
    width:1200px;
    text-align: center;
}

/* A modifier plus tard */
label.tempLabel{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

/* Style de base pour le tableau */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
  }
  
  /* Style pour les cellules du tableau */
 td, th {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
    transition: background-color 0.3s ease;
  }
  
  /* Style pour la première ligne du tableau (en-tête) */
 th {
    /* background-color: #3498db; */
    background: var(--gradient-blue);
    color: #ffffff;
  }
  
  /* Style pour les lignes impaires du tableau */
  tr:nth-child(odd) {
    background-color: #ecf0f1;
  }
  
  /* Hover sur les lignes du tableau pour un effet interactif */
tr:hover {
    background-color: #d4e6f1;
  }
  
  /* Ajout d'une ombre subtile sur le tableau */
  table{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Bordures arrondies pour les coins du tableau */
table  td, th {
    border-radius: 6px;
  }
  