/* Déclaration variables */
:root{
	--gradient-blue:linear-gradient(45deg, #3498db, #6c5ce7);
	--gradient-red:linear-gradient(to right, #eaa29a, #b20a2c);
	--div-note-width: 600px;
}

body {
	font-family: Arial, sans-serif; /* Police de caractères */
  	background: #f0f0f0; /* Couleur de l'arrière-plan */
  	margin: 0;
  	padding: 0;
  	display: flex;
  	
}



/* position interface global */

div.divMain{
	margin-left: auto;
	margin-right: auto;
	width: 1500px;height: 700px;
}





/* Style de titre */

div.dateVersion{
	position: absolute;
	margin-left: 5%;
	width: 500px;
}

h1 {
	font-size: 36px;
	color: #333; /* Couleur du texte du titre */
}

/* Style du paragraphe */
p {
	font-size: 18px;
	color: #777; /* Couleur du texte du paragraphe */
}


img.iconeMenu{
	width: 25px;
}

img.iconeNavigation{
	width: 10px;
}


img.iconeCheck{
	width: 10px;
}
/* ---------------------------------------------- EDITION de NOTES ------------------------------ */

/* Style de l'éditeur de note */
.divNoteEditor {
	position: absolute;
	left: 55%;top: 15px;
	display: none;
    width: 500px;
	background: var(--gradient-blue);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
  

  /* Style des labels */
label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #ffffff;
}
  
  /* Style des champs de texte */
.input-field{
    display: inline-block;
    width: 370px;
    padding: 5px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 12px;
}

.textarea-field{
	display: inline-block;
	white-space: pre-line;
	white-space: pre-wrap;
    width: 90%;height: 150px;
    padding: 5px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 12px;
  }
  

 /* Nouvelle couleur du texte pour le bouton (teinte plus claire) */
.submit-button {
    color: #ecf0f1; /* Couleur tendant vers le blanc */
}


/* alignement des boutons dans un tableau */

tr.tableRowBtn{
	text-align: center;
}



/* placement bouton editeur */
p.pButtonEditor{
	text-align: center;
}


/* Les petits bouton pour editer les detail */
.btnDetailEditor{
	background-color: white;
	border-radius: 5px;
	border: none;
	transition: background 0.3s, transform 0.2s;
}
.btnDetailEditor:hover{
	transform: scale(1.05);
}




/* les etapes */

/* Icone de suppression des étapes */
img.supprStepIcon{
	width: 18px;
}
img.supprStepIcon:hover{
	transform: scale(1.1);
}

label.labelTagFilter{
	color: black;
	font-size: 16px;
	font-weight: bold;
}

button.btnAddStep{
	border: 1px solid #999;
    font-size: 14px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
	text-align: center;
	cursor: pointer;
  	transition: background 0.3s, transform 0.2s;

}


button.btnAddStep:hover{
	transform: scale(1.05);
	background: var(--gradient-blue);
	color: white;
}

/* ------------------------------------------  Visualisation des notes ------------------------------*/

div.divNoteView{
	position: absolute;
	left: 55%;top: 15px;
	background: var(--gradient-blue);
  	color: #333; /* Couleur du texte */
  	padding: 20px;
  	border-radius: 10px;
  	box-shadow: 0 0 10px rgba(3, 110, 241, 0.1); /* Ombre portée */
	width: 500px;height: 600px;
	text-align: center;
	display: none;
}

table{
	width: 100%;
}

table, tr, td, th{
	border-radius: 10px 0px;
	
}

p.noteViewHead{
	color: white;
	font-size: 1.5ch ;
}
th.urgenceCategorie{
	width: 20%;
}
th.noteViewTag{
	width: 60%;
}

tr.viewNoteRowTitle {
	background: #f0f0f0;
	border-radius: 10px 0px;
}
tr.viewNoteRowTitle p{
	color: black;
	font-size: 2.2ch;
	font-weight: bold;
}

/* Detail */
tr.tableViewNoteRowDetail{
	white-space: pre-line;
	white-space: pre-wrap;
	height: 150px;
	background-color:#f0f0f0;
}

tr.tableViewNoteRowDetail p{
	text-align: left;
	font-size: 1.8ch;
	color: black;
	text-align: justify;
	font-size: 12px;
}

/* Step */
tr.tableViewNoteRowStep{
	height: 180px;
	background-color:#f0f0f0;
}

tr.tableViewNoteRowStep label{
	color: black;
}
tr.tableViewNoteRowStep li{
	text-align: left;
}
/* Dates */
tr.noteViewDateRow {
	background-color:#f0f0f0;
}
tr.noteViewDateRow p{
	color: black;
	font-size: 1.5ch ;
}


/*  ------------------------------------ Bouton d'application ---------------------------------- */


button.basicBtn{
	display: inline-block;
  	padding: 10px 20px;
  	font-size: 16px;
  	text-align: center;
  	text-decoration: none;
  	border: none;
  	border-radius: 30px;
  	color: #ffffff;
  	background: var(--gradient-blue);
  	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  	cursor: pointer;
  	transition: background 0.3s, transform 0.2s;

}

/* Style au survol du bouton */
button.basicBtn:hover {
	background: linear-gradient(45deg, #6c5ce7, #3498db);
	transform: scale(1.05);
	 
}




/* ------------------------- MENU PRINCIPAL ------------------------ */
div.mainMenu{
	position: relative;
	margin-left: 40%;
}

/* -------------------------------- Liste des notes----------------------------------- */

/* Style du selecteur de tag */
select.selectTag{
	width: 180px;
    border: 1px solid #999;
    font-size: 14px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
	text-align: center;
	cursor: pointer;
}




/* la div de la liste des notes */
div.listBtnNote{
	position: relative;
	text-align: center;
	top: 15%;left: 2%;
	width: 700px;
}



/* Ligne entre les status de notes */
tr.rowTopLine{
	background: var(--gradient-blue);
	/* color: white; */
}

button.btnPrevious{
	display: inline-block;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: white;
	color: blue;
	border-radius: 10px 0px 0px 10px;
	border: none;
	font-weight: bolder;
	cursor: pointer;
}



button.btnPrevious:disabled{
	background-color: #cccccc;
	color: #666666;
	font-weight: lighter;
	cursor:default;
}

button.btnNext{
	display: inline-block;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: white;
	color: blue;
	border-radius: 0px 10px 10px 0px;
	border: none;
	font-weight: bolder;
	cursor: pointer;
}



button.btnNext:disabled{
	background-color: #cccccc;
	color: #666666;
	font-weight: lighter;
	cursor:default;
}





p.btnPreviousNext{
	display: inline-block;
	margin-top: 1px;
	margin-bottom: 1px;
	color: white;
	font-size: 16px;
}

td.tdListeNotes{
	height: 200px;
	text-align: left;
	vertical-align: top;
}


/* bouton individuel liste note COMMUN */
div.divBtnListNote{
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
  	border-radius: 10px 0px;
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre portée */
	text-align: center;
	width:200px ;height: 80px;
	transition: transform 0.3s ease;
  	transform: translateX(0px);
	background-size: contain;
	white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
 	overflow: hidden;    /* Cache le texte qui dépasse */
}

/* bouton individuel liste note URGENT FLASH ROUTINE*/

div.divBtnListNoteFlash{
	background-image: url(../images/BtnNoteBackground_Flash.png);

}

div.divBtnListNoteUrgent{
	background-image: url(../images/BtnNoteBackground_Urgent.png);
}

div.divBtnListNoteRoutine{
	background-image: url(../images/BtnNoteBackground_Routine.png);
}


/* tag */
p.listNoteTAG{
	color: white;
	font-size: 10px;
	overflow: hidden; /* Cache le texte qui dépasse */
  	text-overflow: ellipsis; /* Ajoute des points de suspension (...) pour indiquer que du texte est masqué */
  	white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
}


/* titre */
div.divBtnListNote p {
	color: white;
	font-size: 12px;
	overflow: hidden; /* Cache le texte qui dépasse */
  	text-overflow: ellipsis; /* Ajoute des points de suspension (...) pour indiquer que du texte est masqué */
  	white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
}


div.divBtnListNote:hover{
	cursor: pointer;
	transform: translateX(10px);
}

/* -------------------------------- POPUP SUPPRESSION ----------------------------------- */

div.confirmSupr{
	z-index: 2;
	display: none;
	width: 400px;
	height: 100px;
	background-color: gainsboro;
	text-align: center;
	border-radius: 10px 0px;
	border: solid 1px gainsboro;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre portée */
	position: relative;
	margin-left: auto;
    margin-right: auto;
	top: -400px;
}